.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }
  h1 {
    color: white;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }
    &::before {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #ffd700;
      font-size: 19px;
      position: absolute;
      margin-top: -18px;
      left: 20px;
      opacity: 0.6;
      animation: fadeIn 1s 1.7s backwards;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }
}

h2 {
  color: #adadad;
  margin-top: 20px;
  font-weight: 400;
  font-size: 11px;
  font-family: sans-serif;
  letter-spacing: 3px;
  animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;

  &:hover{
    background: #ffd700;
    color: #333;
  }
}

.harsh-logo{
  position: absolute;
  width: 60px;
  filter: invert(100%);
  transition: transform .7s ease-in-out;
  
}
.harsh-logo:hover{
  color: #ffd700;
  transform: rotate(360deg);
  cursor: pointer;
}
.harsh-logo1{
  top: 10%;
  right: 45%;
}
.harsh-logo2{
  top: 30%;
  right: 45%;
}
.harsh-logo3{
  top: 50%;
  right: 45%;
}
.harsh-logo4{
  top: 70%;
  right: 45%;
}
.harsh-logo5{
  top: 90%;
  right: 45%;
}
.harsh-logo6{
  top: 10%;
  right: 15%;
}
.harsh-logo7{
  top: 30%;
  right: 15%;
}
.harsh-logo8{
  top: 50%;
  right: 15%;
}
.harsh-logo9{
  top: 70%;
  right: 15%;
}
.harsh-logo10{
  top: 90%;
  right: 15%;
}
.harsh-logo11{
  top: 50%;
  right: 37%;
}
.harsh-logo12{
  top: 50%;
  right: 30%;
}
.harsh-logo13{
  top: 50%;
  right: 23%;
}
